@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    color: white;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: gray;
}
main{
    background-color: white;
    width: 650px;
    height: 470px;
    border: 1px solid black;
    /* margin: auto;
    margin-top: 150px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}
.step{
    width: 270px;
    height: 430px;
    background-image: url(./img/bg-sidebar-desktop.svg);
    background-position: center center;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
main .step ul li {
    color: white;
    font-size: 10px;
    line-height: 20px;
    list-style-type: none;
}
main .step ul li span{
    color: #B4B4B3;
}